class Main{
    public static void main(String[]args){
        int num=36;
        int count=1;
        for(int i=1;i<=num/2;i++){
            if(num%i==0){
                count++;
            }
        }
        if(count==9){
            System.out.println("This is exactly divisible by 9 numbers");
        }
        else{
            System.out.println("This is not exactly divisible by 9 numbers");
        }
    }
}
